<tbody>
    <tr>
        <td>
<div class="btn-group" role="group" aria-label="...">
   <%= link_to 'Agenda', agendas_path %>
    <%= image_tag("agenda.png", :alt => "rss feed") %>
</div>
        </td>
        <td>

    
    <%= link_to "cadastros", cadastros_path %>
     <%= image_tag("cadastro.png", :alt => "rss feed") %>
    

</td>
</tr>
</tbody>

 <a href="#meuModal" class="btn btn-primary btn-large" role="button" data-toggle="modal" >teste de modal</a>
                      <section id="#meuModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="meuModalLabel" aria-hidden="true">
                      <header class="modal-header">
                      <button class="close">x</button>
                      <h3 id="meuModalLabel">caeçalho do modal</h3>
                      </header>
                      <section class="modal-body">
                      <h1>teste de codigo</h1>
                      </section>
                      <footer class="modal-footer"><button class="btn">fechar</button></footer>
                      </section>